        body {
            background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
        }
        
        header {
            font-family: 'Lacquer', sans-serif;
            font-size: 3em;
        }
        
        footer {
            font-family: 'Odibee Sans', cursive;
            font-size: 3em;
            display: flex;
            justify-content: center;
            background: rgba(0, 0, 0, 0.5);
            break-after: always;
            align-items: center;
            height: 8vh;
            color: white;
            margin: 0;
        }
        
        section:nth-child(1) {
            display: flex;
            justify-content: center;
            align-items: center;
            justify-items: center;
            text-align: center;
            height: 90vh;
        }
        
        section:nth-child(2) {
            display: none;
            justify-content: center;
            align-items: center;
            justify-items: center;
            text-align: center;
            height: 90vh;
            break-inside: auto;
            color: white;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
        }
        
        section:nth-child(2)>h1 {
            font-family: 'Trade Winds';
            font-size: 2rem;
            padding: 10px;
            break-after: always;
            justify-content: center;
            align-items: center;
            grid-row-start: 2;
        }
        
        section:nth-child(2)>p {
            color: black;
            grid-row: 3;
            font-size: 3rem;
            text-transform: uppercase;
            font-family: 'Righteous';
            background: rgba(255, 255, 255, 0.2);
            border-radius: 20px;
        }
        
        section:nth-child(2)>h2 {
            color: white;
            font-family: 'Trade Winds';
            font-size: 3rem;
            grid-row: 4 / 4;
            text-transform: uppercase;
        }
        
        section:nth-child(2)>h3 {
            color: yellow;
            grid-row-start: 1;
        }
        
        #input_dictionary {
            width: 80%;
            height: 60px;
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 20px 20px;
            border: none;
            text-align: center;
            color: white;
            text-transform: uppercase;
            font-family: 'Squada One', cursive;
            letter-spacing: 10px;
            outline: none;
        }
        
        #input_dictionary:focus {
            background-color: rgba(0, 0, 0, 0.5);
        }
        
        #submit_dictionary {
            text-align: center;
            align-items: center;
            font-size: 0.2em;
            margin-top: 5%;
            width: 30%;
            height: 60px;
            background-color: rgba(0, 0, 0, 0.5);
            border: none;
            color: white;
            text-transform: uppercase;
            font-family: 'Squada One', cursive;
            letter-spacing: 5px;
            border-bottom-left-radius: 20px;
            border-top-right-radius: 20px;
            animation: submit 2s infinite;
            animation-timing-function: ease-in-out;
            transition: 2s;
            outline: none;
        }
        
        #submit_dictionary:hover {
            transform: rotate(15deg);
        }
        
        @keyframes submit {
            0% {
                font-size: 0.2em;
                color: rgba(0, 0, 0, 1);
            }
            66% {
                font-size: 0.5em;
                color: rgba(255, 255, 255, 1);
            }
            100% {
                font-size: 0.2em;
                color: rgba(255, 255, 255, 1);
            }
        }
        
        @media only screen and (max-width: 800px) {
            #submit_dictionary {
                height: 100px;
                width: 40%;
            }
            footer {
                font-size: 1.2em;
                height: 7vh;
                width: 100%;
                margin: 0;
            }
        }